<h1>Зміна паролю</h1>

<p>
Для того щоб змінити свій поточний пароль і встановити новий, скопіюйте код підтвердження, перейдіть за посиланням нижче, вставьте у відповідне поле код підтвердження, введіть новий пароль і натисніть підтвердити:
</p>

<p>
Код підтвердження: <b><%= @user.reset_password_token %></b> <br><br>
Щоб змінити пароль, перейдіть за цим посиланням: <b><%= @url %></b> 
</p>

<p>
Якщо Ви не робили запит на зміну паролю, будь ласка, проігноруйте це повідомлення і пароль залишиться не змінним.
</p>
