<h1>Скидання паролю</h1>

<p>
Для того щоб скинути свій поточний пароль і встановити новий, скопіюйте токен, натисніть на посилання нижче, вставьте у відповідне поле токен, введіть новий пароль і натисніть підтвердити:
</p>

<p>
Токен: <%= @user.reset_password_token %><br><br>
<%= @url %>
</p>

<p>
Якщо Ви не робили запит на скидання паролю, будь ласка, проігноруйте це повідомлення і пароль залишиться не змінним.
</p>