<h1>Зміна паролю</h1>

<p>
Для того щоб змінити свій поточний пароль і встановити новий,перейдіть за посиланням нижче, введіть новий пароль і натисніть підтвердити:
</p>

<p>
Щоб змінити пароль, перейдіть за цим посиланням: <b><%= @url %>/<%= @user.reset_password_token %></b>
</p>

<p>
Якщо Ви не робили запит на зміну паролю, будь ласка, проігноруйте це повідомлення і пароль залишиться не змінним.
</p>
